<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	
	<hr>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12"> 
    		<div class="btn-group btn-group-justified">
	    	<a href="/rock" type="button" class="btn btn-block btn-primary">Rock</a>
	    	<a href="/paper" type="button" class="btn btn-block btn-primary">Paper</a>
	    	<a href="/scissors" type="button" class="btn btn-block btn-primary">Scissors</a>
	  		</div>
        </div>
    </div>
    
    <hr>    

    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-xs-6">
        	<div class="panel panel-success">
  				<div class="panel-heading">
    				<h3 class="panel-title text-center">You Played Rock!</h3>
  				</div>
  				<div class="panel-body">
    				<img class="img-responsive" src="../assets/images/rock.png">
  				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-6">
        	<div class="panel panel-danger">
  				<div class="panel-heading">
    				<h3 class="panel-title text-center">Computer Played <%= @computer_move %>!</h3>
  				</div>
  				<div class="panel-body img-responsive">
    				<img class="img-responsive" src="../assets/images/<%= @computer_move %>.png">
  				</div>
			</div>		
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <div class="well text-center">
        <h1>
        <span class="<%= @label %>">
        <%= @result %>!
        </span>
        </h1>
        </div>
        </div>
    </div>

</div>

<%= yield %>

</body>
</html>